.title{
  margin-top: 20px;
}
.blurb{
  font-size: medium;
}

.hidden {
  display: none;
}
#submitButton{
  margin-top: 20px;
}
.TandS {
  font-size: medium;
  text-align: center;
}
.startBtn {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}
.collection-item {
  width: 100%;
  font-size: medium;
  text-align: left;
  text-transform: none;
  color: black;
}
.btn:hover{
  background-color: rgb(238, 238, 238);
}
.tableLabel{
  font-size: large;
}
.tableValue{
  font-size: medium;
}
